body{
    background-image:url(./Station_7_Videos/images/bg.png);
text-align: center
}

#wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.gifts{

    position: absolute;
    bottom: 30%;
    right: 35%;
    z-index: 1  ;
}

.plant{

    position: absolute;
    top: 25%;
    left: 33%;

}

.Star1{

    position: absolute;
    top: 20%;
    left: 19%;
}

.Star2{

    position: absolute;
    top: 50%;
    left: 25%;
}

video{

    position: absolute;
    bottom: 32%;
    right: 37%;
}

h1{

    position: absolute;
    color: white;
    top: 38%;
    left: 35.5%;
}

p{
    position: absolute;
    top: 44%;
    left: 38%;
    font-size: medium;
    color: white;;
}
}