header {
	grid-column: span 2;
	text-align: center;
}
body {
    background-color: chartreuse;
}

h2 {

    text-align: center;
    width: 100%;
}

#order {

    
}
#shop {
    position: absolute;
    margin-left: 
}

#Chores {
    position: relative;
    
}

#Articles {

    position: absolute;
    width: px;
}