

   
body {
    background-image: url(./images/bg.jpg);
    background-size: cover;
    
} 

div {

    position: relative;
    margin: auto;
    top: 50%;
    width: 640px;
    height: 480px;
}


.phone{

    position: absolute;
    top: 10%;
}

.fünf {
position: absolute;
    top: 20%;
}

h1 {

    position: absolute;
    top: 10%;
    left: 45%;
    color: white;
    font-family: serif;
    text-align:center;
    text-decoration: underline;
}

.Frage {

    position: absolute;
    width: 640px;
    top: 35%;
    left: 2%;
}


p{
    position: absolute;
    top: 40%;
    left: 22%;
    font-family: serif;
    font-size: 1.5em;
    color: white;
}

.ant1{

    position: absolute;
    width: 640px;
    top: 60%;
    left: 2.5%;
}

a{

    text-align: center;
    font-family: serif;
    color: white;
    padding: 15px;
    text-decoration: none;
}

a:hover{

    color: cyan;
}

.ant2 {

    
    position: absolute;
    width: 640px;
    top:67%;
    left: 2.5%;



}

.ant3{

    position: absolute;
    width: 640px;
    top: 74%;
    left: 2.5%;
}

.ant4 {
    position: absolute;
    width: 640px;
    top: 81%;
    left: 2.5%;

}